body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  width: 50%;
  height: auto;
  border-radius: 1rem;
}

.card {
  padding: 1rem;
}

.add-to-basket {
  padding: 0.4 rem;
  font-weight: 200;
  border-radius: 0.4rem;
  color: black;
  background-color: whitesmoke;
}